@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-dark-alternate: #131619;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg * {
  transition-property: fill, stroke;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
  line-height: 1.2;
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title.centered::after {
  left: 50%;
  top: -0.25em;
  translate: -50% 0;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px); /*+ 8px */
  bottom: calc(70%); /* от себя*/
  width: 26px;
  aspect-ratio: 1;
  background: url("./icons/Plus.svg") center / contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-family: var(--font-family-accent), sans-serif;
  color: transparent;
  font-size: 2.8em;
  line-height: 1;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-dark-gray);
}

.button {
  display: inline-flex;
  align-items: center;
  padding-inline: 26px;
  height: 38px;

  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url(./icons/bold-arrow-top-right.svg) center / 70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background: var(--color-light-gray);
  outline: none;
}

/* How TO - Hide Arrows From Input Number*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*шапка сайта*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: var(--header-height);
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header {
  [class*="__logo"] {
    flex-shrink: 0;
  }
}

.header {
  [class*="__menu-list"] {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
  }
}

.header {
  [class*="__menu-link"] {
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
    /*background: red;*/
    column-gap: 7px;
  }
}

.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header {
  [class*="__actions"] {
    display: flex;
    column-gap: 40px;
  }
}

.header {
  [class*="__burger-button"] {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    padding-left: 8px;

    width: 40px;
    aspect-ratio: 1;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
  }
}

.header {
  [class*="__burger-button"]:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
  }
}

.header {
  [class*="__burger-button-line"] {
    width: 6px;
    height: 2px;
    background-color: currentColor;
    box-shadow: 12px 0 0 currentColor;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);

  [class*="__body"] {
    text-transform: uppercase;
  }

  [class*="__info"] {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
  }

  [class*="__info"]::before {
    content: "";
    width: clamp(60px, 10.1vw, 194px);
    aspect-ratio: 1;
    margin-right: 30px;
    background: url(./icons/bold-arrow-down-right.svg) center / contain
      no-repeat;
  }

  [class*="__title"] {
    font-size: min(18.75vw, 360px);
    line-height: 1;
  }

  [class*="__pagination-item"] {
    display: flex;
  }

  [class*="__pagination-list"] {
    display: flex;
    justify-content: center;
    /*column-gap: 14px;*/
  }

  [class*="__pagination-button"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border: none;
  }
}

.banner__pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner__pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

/*section motivation*/

.motivation {
  [class*="__item"]:nth-child(even) {
    background-color: var(--color-dark-alternate);
  }

  [class*="__item"]:nth-child(even) .motivation__card {
    flex-direction: row-reverse;
  }

  [class*="__card"] {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px);
  }

  [class*="__card-image"] {
    margin-block: -60px; /*смещение картинки вверх и вниз от контейнера*/
  }

  [class*="__card-image"].mb0 {
    margin-bottom: 0; /*смещение картинки 0 под секцию*/
  }

  [class*="__card-body"] {
    flex-direction: column;
    padding-left: 35px;
  }

  [class*="__card-description"] {
    max-width: 400px;
  }

  [class*="__card-title"]:not(:last-child) {
    margin-bottom: 14px;
  }

  [class*="__card-description"]:not(:last-child) {
    margin-bottom: 37px;
  }
}

/*section training-types*/

.training-types {
  padding-top: 70px;
  padding-bottom: 120px;
}

.training-types {
  [class*="__list"] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
  }

  [class*="__item"] {
    --trainingTypesItemBgIconSize: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding-top: var(--trainingTypesItemBgIconSize);

    background: url(./icons/transparrent-arrow-bottom-left_1.svg) 100% 0 /
      var(--trainingTypesItemBgIconSize) no-repeat;
  }

  [class*="__item-title"] {
    font-size: 16px;
    background: none;
    padding-top: 0;
  }
}

/*section join-us*/

.join-us {
  background-color: var(--color-dark-alternate);

  [class*="__video-wrapper"] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url(./images/join-us-bg.png) center / cover no-repeat
      var(--color-dark-alternate);
  }

  [class*="__video"] {
    width: 100%;
    max-width: 960px;
    height: auto;
  }

  [class*="__video-play-button"] {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    width: 200px;
    aspect-ratio: 1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
  }

  [class*="__video-play-button"]::after {
    content: "";
    width: 26px;
    aspect-ratio: 1;
    background: url("./icons/bold-arrow-top-right.svg") center / contain
      no-repeat;
    transition-duration: var(--transition-duration);
  }

  [class*="__video-play-button"]:hover {
    color: var(--color-dark);
    background-color: var(--color-light-gray);
  }

  [class*="__video-play-button"]:hover::after {
    filter: invert(1);
  }

  [class*="__title"] {
    position: relative;
    margin-top: -0.4em;
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-align: center;
  }

  [class*="__title"]::after {
    content: "";
    display: inline-block;

    height: 0.7em;
    aspect-ratio: 1;
    background: url("./icons/bold-arrow-down-right.svg") center / contain
      no-repeat;
    scale: 1 -1;
    margin-left: 0.14em;
  }

  [class*="__title"]:not(:last-child) {
    margin-bottom: 130px;
  }

  [class*="__form-header"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
  }

  [class*="__form-header"]:not(:last-child) {
    margin-bottom: 52px;
  }


  [class*="__form-subtitle"] {

  }

  [class*="__form-input"] {
    max-width: 400px;
  }

  [class*="__form-body"] {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}

/*section location*/

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  [class*="__body"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 15px;
    text-align: center;
  }

  [class*="__map-image"] {
    height: auto;
  }

  [class*="__title"]:not(:last-child) {
    margin-bottom: 14px;
  }

  [class*="__description"] {
    max-width: 490px;
  }

  [class*="__description"]:not(:last-child) {
    margin-bottom: 37px;
  }
}

/*section family*/

.family {
  background-color: var(--color-dark-alternate);

  [class*="__header"] {
    padding-top: 132px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 11px;
  }

  [class*="__body"] {
    display: flex;
    justify-content: center;
    column-gap: 26px;

    scroll-snap-type: x mandatory; /* слайдер на  css*/
    overflow-x: scroll;
  }

  [class*="__image"] {
    scroll-snap-align: start; /* слайдер на  css*/

  }

}

/*section family*/

.calculate {
  padding-block: 146px;
  background-color: var(--color-dark-alternate);

  [class*="__inner"] {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    column-gap: 36px;
  }

  [class*="__body"] {
    flex-grow: 1;
    max-width: 626px;
  }

  [class*="__title"]:not(:last-child) {
    margin-bottom: 16px;
  }

  [class*="__description"] {
    max-width: 385px;
  }

  [class*="__description"]:not(:last-child) {
    margin-bottom: 30px;
  }

  [class*="__form-body"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 30px;
  }

  [class*="__form-body"]:not(:last-child) {
    margin-bottom: 26px;
  }

  [class*="__input"].wide {
    grid-column: -1 / 1;
  }

  [class*="__table-wrapper"] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
  }

  [class*="__table-wrapper"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    aspect-ratio: 1;
    background: var(--color-dark);
    border-radius: 50%;
  }

  [class*="__table"] {
    position: relative;
    border-collapse: collapse;
  }

  [class*="__table"] :is(td, th) {
    padding-right: 30px;
  }

  [class*="__table"] :is(td, th):not(:first-child) {
    padding-left: 30px;
  }

  [class*="__table"] :is(td, th):not(:last-child) {
    border-right: 1px solid var(--color-light-gray);
  }

  [class*="__table"] tbody td {
    border-top: 1px solid var(--color-light-gray);
  }

  [class*="__table"] tbody tr:last-child td:first-child {
    position: relative;

  }

  [class*="__table"] tbody tr:last-child td:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66%;
    height: 1px;
    background: var(--color-light-gray);
  }

  [class*="__table"] th {
    padding-block: 20px;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-light);
  }

  [class*="__table"] td {
    padding-block: 14px;
  }

  [class*="__table"] tfoot {
    color: var(--color-light);
  }

  [class*="__table"] tfoot td {
    padding-top: 33px;
    padding-bottom: 0;
  }



}

/*section footer*/

.footer {
  --footerLogoWidth: 20.3%;

  [class*="__main"] {
    padding-top: 140px;
    padding-bottom: 160px;
  }

  [class*="__extra"] {
    padding-block: 15px;
    background-color: var(--color-dark-alternate);
  }

  [class*="__header"] {
    display: grid;
    grid-template-columns: var(--footerLogoWidth) auto;
    column-gap: 62.5px;
  }

  [class*="__logo-image"] {
    height: auto;
  }

  [class*="__header"]:not(:last-child) {
    margin-bottom: 60px;
  }

  [class*="__description"] {
    text-align: left;
  }

  [class*="__body"] {
    display: grid;
    grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
    column-gap: 62.5px;
  }

  [class*="__column-title"] {
    font-size: clamp(18px, 1.15vw, 22px);
  }

  [class*="__column-title"]:not(:last-child) {
    margin-bottom: 15px;
  }

  [class*="__schedule"]:not(:last-child) {
    margin-bottom: 13px;
  }

  [class*="__address"] {
    font-style: normal;
  }

  [class*="__address"]:not(:last-child) {
    margin-bottom: 35px;
  }

  [class*="__column-title"].has-arrow::after {
    content: "";
    display: inline-block;
    height: 0.74em;
    aspect-ratio: 1;
    background: url("./icons/bold-arrow-down-right.svg") center / contain
    no-repeat;
    scale: -1 1;
    margin-left: 0.42em;
  }

  [class*="__subscribe"] {
    position: relative;
  }

  [class*="__subscribe-button"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background: url(./icons/bold-arrow-top-right.svg) center / 70% no-repeat;
    border: var(--border);
    border-radius: var(--border-radius);
  }

  [class*="__subscribe-button"]:hover {
    background-color: var(--color-light-gray);
  }

  [class*="__subscribe-input"] {
    padding-right: 65px;
  }

  [class*="__soc1als"] {
    margin-top: 16px;
  }

  [class*="__soc1als-list"] {
    display: flex;
    column-gap: 18px;
    justify-content: center;
    align-items: center;
  }

  [class*="__soc1als-link"] {
    display: flex;
    width: 23px;
  }

  [class*="__copyright"] {
    font-size: 14px;
  }
}


/* адаптив  сайта */

@media screen and (max-width: 1919px) {
  .motivation__card-image {
    margin-block: -20px;
  }
}

@media screen and (max-width: 1280px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
  }

  .header,
  .banner {
    padding-inline: 15px;
  }

  .header {
    [class*="__menu"] {
      order: 1;
      flex-basis: fit-content;
    }
  }

  .header {
    [class*="__menu-link"] {
      height: 50px;
    }
  }

  .banner {
    row-gap: 10px;
  }
  .motivation__card-image {
    max-width: 30%;
    height: auto;
    margin-bottom: 0;
  }

  .motivation__card {
    padding-block: 50px;
  }

  .join-us__body {
    padding-bottom: 80px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 80px;
  }

  .location {
    display: flex;
    flex-direction: column-reverse;
  }

  .location__body {
    padding-block: 40px;
  }

  .location__description:not(:last-child) {
    margin-bottom: 20px;
  }

  .family__image {
    height: 360px;
  }

  .calculate {
    padding-block: 100px;
  }

  .calculate__inner {
    column-gap: 20px;
  }

  .calculate__form-body {
    grid-template-columns: 1fr;
  }

  .calculate__button {
    width: 100%;
  }

  .calculate__table :is(td, th) {
    padding-block: 10px;
  }

  .calculate__table tfoot td {
    padding-top: 10px;
  }

  .footer__main {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .footer__header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .footer__body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media screen and (max-width: 767px) {

  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header__menu-list {
    column-gap: 24px;
  }

  .header__menu-link {
    height: 32px;
  }

  .header__actions {
    column-gap: 20px;
  }

  .banner {
    [class*="__info"] {
      margin-bottom: 5px;
    }
  }

  .banner {
    [class*="__info"]::before {
      margin-right: 10px;
    }
  }

  .motivation {
    [class*="__card"] {
      flex-direction: column-reverse;
      padding-block: 30px;
      row-gap: 30px;
    }

    [class*="__item"]:nth-child(even) .motivation__card {
      flex-direction: column-reverse;
    }

    [class*="__card-image"] {
      max-width: 60%;
    }

    [class*="__card-description"]:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .training-types {
    [class*="__list"] {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
  }

  .training-types__item {
    --trainingTypesItemBgIconSize: 60px;
    row-gap: 10px;
  }

  .training-types__image {
    max-width: 120px;
  }

  .join-us__video-play-button {
    width: 140px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .section-description {
    font-size: 16px;
  }

  .join-us__form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .family__header {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .family__body {
    column-gap: 12px;
  }

  .family__image {
    height: 180px;
  }

  .calculate__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .calculate__table-wrapper::before {
    display: none;
  }

  .calculate {
    padding-block: 60px;
  }

  .footer {
    --footerLogoWidth: none;

    [class="__body"] {
      grid-template-columns:  1fr;
    }

    [class*="__main"] {

      padding-top: 20px;
      padding-bottom: 20px;
    }

    [class*="__header"]:not(:last-child) {
      margin-bottom: 30px;
    }

    [class*="__header"]:not(:last-child) {
      margin-bottom: 30px;
    }

    [class="__subscribe"]:not(:last-child) {
      margin-bottom: 40px;
    }


  }
}
}

@media screen and (min-width: 320px) {

  .banner {
    padding-top: 20px;
    min-height: 100%;
  }

  .button {
    line-height: 0;
  }

  .motivation {

    [class*="__card-title"].backdrop-title::before {
      right: calc(100% + 4px);
      bottom: calc(54%);
    }

    [class*="__card-title"].backdrop-title::after {
      left: -0.6em;
      top: 0.2em;

    }
  }

  .join-us {

    [class*="__form-title"].backdrop-title::before {
      bottom: calc(38%);
      top: -0.35em;
    }

    [class*="__form-title"].backdrop-title::after {
      top: -0.35em;
    }

    [class*="__form-body"] {
      column-gap: 10px;
    }
  }

  .location {

    [class*="__title"].backdrop-title::before {
      right: calc(100% + 4px);
      bottom: calc(25%);

    }
  }



  .family {

    [class*="__title"].backdrop-title::before {
      right: calc(100% - 15px);
    }
  }

  .calculate {

    [class*="__inner"] {
      flex-direction: column;
      row-gap: 30px;
    }

    [class*="__title"] {
      text-align: center;
      width: 100%;
    }

    [class*="__title"].backdrop-title::before {
      right: calc(100% - 3em);
      bottom: calc(20%);
    }

    [class*="__title"].backdrop-title::after {
      left: 0.25em;
    }

    [class*="__input"] {
      padding-inline: 20px;
    }



    [class*="__table-wrapper"]::before {
      display: none;
    }
  }


  .footer {
    --footerLogoWidth: none;

    [class="__body"] {
      grid-template-columns:  1fr;
    }

    [class*="__main"] {

      padding-top: 20px;
      padding-bottom: 20px;
    }

    [class*="__description"] {
      font-size: 18px;
    }
  }
}

